<div class="row">
    <div class="col-lg-12">
        <h1>Statistiche per: {{game.name}} <small>(id: {{game.id}})</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <p><b>Seleziona periodo:</b></p>
    </div>
    <div class="col-md-10">
        <select ng-model="period">
            <option value="today">Oggi</option>
            <option value="last-week">Ultima settimana</option>
            <option value="last-month">Ultimo mese</option>
            <option value="global">Globale</option>
            <option value="custom">Personalizzato</option>
        </select>
    </div>
</div>
<div ng-if="period == 'custom'" class="row v-center">
    <div class="col-md-1">
        <p><b>Da:</b></p>
    </div>
    <div class="col-md-5">
        <datetimepicker show-spinners="true" placeholder="mm/dd/yyyy" ng-model="from" show-meridian="showMeridian" date-format="dd-MMM-yyyy"></datetimepicker>
    </div>
    <div class="col-md-1">
        <p><b>A:</b></p>
    </div>
    <div class="col-md-5">
        <datetimepicker show-spinners="true" placeholder="mm/dd/yyyy" ng-model="to" show-meridian="showMeridian" date-format="dd-MMM-yyyy"></datetimepicker>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>PANORAMICA DI GIOCO:</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="cell">
            <div class="icon blue">
                <i class="glyphicon glyphicon-user"></i>
            </div>
            <div class="content">
                <span class="stats">{{stats.activePlayers}}</span>
                <span class="title">Giocatori attivi</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cell">
            <div class="icon red">
                <i class="glyphicon glyphicon-transfer"></i>
            </div>
            <div class="content">
                <span class="title date-game"><span>Da:</span> {{stats.period.from | date:'dd/MM/yyyy'}}</span>
                <span class="title date-game"><span>A:</span> {{ stats.period.to | date:'dd/MM/yyyy'}}</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cell">
            <div class="icon yellow">
                <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <div class="content">
                <span class="stats">{{stats.period.totalDays}}</span>
                <span class="title">Giorni di gioco</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>GRAFICI:</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="dash-panel">
            <h5>Andamento dei giocatori per tempo</h5>
            <div class="btn-group dash-button" uib-dropdown>
                <button id="playersChartType" type="button" class="btn btn-default" uib-dropdown-toggle>
                    <i class="glyphicon glyphicon-option-vertical"></i>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="playersChartType">
                    <li role="menuitem"><a ng-click="chartsData.players.type = 'line'">Grafico a linea</a></li>
                    <li role="menuitem"><a ng-click="chartsData.players.type = 'bar'">Grafico a barre</a></li>
                </ul>
            </div>
            <canvas height="100" class="chart-base" chart-type="chartsData.players.type" chart-data="chartsData.players.data" chart-labels="chartsData.players.labels" chart-colors="chartsData.players.colors" chart-series="chartsData.players.series" chart-options="chartsData.players.options">
            </canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="dash-panel">
            <h5>Distribuzione giocate per tipo di azione</h5>
            <div class="btn-group dash-button" uib-dropdown>
                <button id="actionsChartType" type="button" class="btn btn-default" uib-dropdown-toggle>
                    <i class="glyphicon glyphicon-option-vertical"></i>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="actionsChartType">
                    <li role="menuitem"><a ng-click="chartsData.actions.type = 'pie'; chartsData.actions.options.legend.display = true">Grafico a torta</a></li>
                    <li role="menuitem"><a ng-click="chartsData.actions.type = 'bar'; chartsData.actions.options.legend.display = false">Grafico a barre</a></li>
                </ul>
            </div>
            <canvas class="chart-base" chart-type="chartsData.actions.type" chart-data="chartsData.actions.data" chart-labels="chartsData.actions.labels" chart-options="chartsData.actions.options">
            </canvas>
        </div>
    </div>
    <div class="col-md-6">
        <div class="dash-panel">
            <h5>Distribuzione dei punti su totale punti</h5>
            <div class="btn-group dash-button" uib-dropdown>
                <button id="pointsChartType" type="button" class="btn btn-default" uib-dropdown-toggle>
                    <i class="glyphicon glyphicon-option-vertical"></i>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="pointsChartType">
                    <li role="menuitem"><a ng-click="chartsData.points.type = 'pie'; chartsData.points.options.legend.display = true">Grafico a torta</a></li>
                    <li role="menuitem"><a ng-click="chartsData.points.type = 'bar'; chartsData.points.options.legend.display = false">Grafico a barre</a></li>
                </ul>
            </div>
            <canvas class="chart-base" chart-type="chartsData.points.type" chart-data="chartsData.points.data" chart-series="chartsData.points.series" chart-labels="chartsData.points.labels" chart-options="chartsData.points.options">
            </canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="dash-panel">
            <h5>Conquista badge da parte degli utenti</h5>
            <canvas chart-click="badgeCatClick" class="chart chart-bar" chart-data="chartsData.badges.data" chart-labels="chartsData.badges.labels" chart-series="chartsData.badges.series" chart-colors="chartsData.badges.colors" chart-options="chartsData.badges.options">
            </canvas>
        </div>
    </div>
    <div class="col-md-5">
        <div class="dash-panel">
            <h5>Dettaglio categoria {{categoryBadge}}</h5>
            <canvas class="chart chart-bar" chart-data="chartsData.badges.details.data" chart-labels="chartsData.badges.details.labels" chart-series="chartsData.badges.details.series" chart-options="chartsData.badges.details.options" chart-colors="chartsData.badges.details.colors">
            </canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dash-panel">
            <h5>Distribuzione giocate per utenti</h5>
            <canvas height="100" class="chart chart-bar" chart-data="chartsData.matchPlayers.data" chart-labels="chartsData.matchPlayers.labels" chart-colors="chartsData.matchPlayers.colors" chart-series="chartsData.matchPlayers.series">
            </canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dash-panel">
            <h5>Grafico superamento challenge</h5>
            <canvas height="100" class="chart chart-horizontal-bar" chart-data="chartsData.globalChallenges.data" chart-labels="chartsData.globalChallenges.labels" chart-series="chartsData.globalChallenges.series" chart-options="chartsData.globalChallenges.options">
            </canvas>
        </div>
    </div>
</div>