/* Stats tab selection */

.stats-tab {
    margin-top: 20px;
    margin-bottom: 20px;
}

.stats-tab > a {
    font-size: 18px;
    text-align: center;
    color: rgb(23, 178, 235);
}

.stats-tab > a:hover {
    color: rgb(23, 178, 235);
}

.stats-tab > a.active {
    color: #fff;
}

.stats-tab > a > div {
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 4px solid rgb(23, 178, 235);
    transition: all 0.3s;
}

.stats-tab > a > div:hover {
    background-color: rgb(23, 178, 235);
    color: #fff;
}

.stats-tab > a.active > div {
    background-color: rgb(23, 178, 235);
}

.button-stats {
    background-color: rgb(23, 178, 235);
    border: 0;
    border-radius: 0;
    font-size: 18px;
    border: 1px solid rgb(23, 178, 235);
    transition: all 0.3s;
}

.button-stats:hover {
    background-color: #fff;
    color: rgb(23, 178, 235);
    border: 1px solid rgb(23, 178, 235);
}

.v-center {
    display: flex;
    align-items: center
}


/* Cell */

.cell {
    background-color: #eee;
}

.cell > .icon {
    display: inline-block;
    font-size: 45px;
    line-height: 1;
    padding: 20px 25px;
    color: #fff;
}

.cell > .content {
    padding-left: 10px;
    display: inline-block;
}

.cell > .content span {
    display: block;
}

.cell > .content span.stats {
    font-size: 25px;
    font-weight: 500;
}

.cell > .content span.date-game:first-child {
    margin-bottom: 10px;
}

.cell > .content span.date-game span {
    font-weight: 700;
    width: 35px;
    display: inline-block;
}

.icon.green {
    background-color: rgb(20, 153, 72);
}

.icon.red {
    background-color: rgb(210, 52, 44);
}

.icon.blue {
    background-color: rgb(23, 178, 235);
}

.icon.yellow {
    background-color: rgb(238, 138, 17);
}


/* Dashboard panel */

.dash-panel {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.dash-panel h5 {
    margin-left: 10px;
    display: inline-block;
}

.dash-button {
    display: inline-block;
    float: right;
}